---
import PS from "../icons/PS.astro"
import AI from "../icons/AI.astro"
import GitHub from "../icons/GitHub.astro"
import Behance from "../icons/Behance.astro"
import Arrow from "../icons/Arrow.astro"
import XD from '../icons/XD.astro'
import AID from "../icons/Aid.astro"
import Layers from "../icons/layers.astro"
import FIGMA from "../icons/Figma.astro"
import CarruselSwiper from "../components/CarruselSwiper.astro"


const TAGS = {
    ARROW: {
        name: "Arrow",
        class: "bg-[#000] text-white flex gap-x-1 p-1.5 pl-2.5 pr-2.5 rounded-full text-xs items-center w-auto",
        icon: Arrow,
    },
    PHOTOSHOP: {
        name: "Photoshop",
        class: "bg-[#053656] text-white flex gap-x-1 p-1.5 pl-2 pr-2 rounded-full text-xs items-center w-auto",
        icon: PS
    },
    ILLUSTRATOR: {
        name: "Illustrator",
        class: "bg-[#5D1B0D] text-white flex gap-x-1 p-1.5 pl-2 pr-2 rounded-full text-xs items-center w-auto",
        icon: AI
    },
    XD: {
        name: "Adobe XD",
        class: "bg-[#C11C8A] text-white flex gap-x-1 p-1.5 pl-2 pr-2 rounded-full text-xs items-center w-auto",
        icon: XD
    },
    AID: {
        name: "Adobe InDesign",
        class: "bg-[#C11C8A] text-white flex gap-x-1 p-1.5 pl-2 pr-2 rounded-full text-xs items-center w-auto",
        icon: AID
    },
    FIGMA: {
        name: "Figma",
        class: "bg-[#181818] text-white flex gap-x-1 p-1.5 pl-2 pr-2 rounded-full text-xs items-center w-auto",
        icon: FIGMA
    },
    GITHUB: {
        name: "GitHub",
        icon: GitHub
    },
    
    BEHANCE: {
        name: "Behance",
        icon: Behance
    },
    
}

const PROYECTOS = [
    {
        title: "Diseño Web | FLOWING",
        pagina: 2,
        categoria: "diseño",
        description: "Diseño de web gastronomica, catering de lujo.",
        tags: [TAGS.PHOTOSHOP, TAGS.XD, TAGS.FIGMA],
        image: "/proyectos/p05.webp",
        type: "Behance",
        URL : "https://www.behance.net/gallery/233030753/Diseno-Web-Flowing-Comida-de-Lujo",
        Icon: TAGS.ARROW,
    },
    {
        title: "Diseño UX/UI | Royal Canin",
        pagina: 1,
        categoria: "diseño",
        description: "Diseño de web de alimentos para mascotas.",
        tags: [TAGS.PHOTOSHOP, TAGS.XD],
        image: "/proyectos/p08.webp",
        type: "Behance",
        URL : "https://www.behance.net/gallery/237397847/Diseno-UXUI-Royal-Canin",
        Icon: TAGS.ARROW,
    },
    {
        title: "Branding | Crianza Consciente",
        pagina: 2,
        categoria: "diseño",
        description: "Identidad Visual para mentora de Crianzas.",
        tags: [TAGS.PHOTOSHOP, TAGS.ILLUSTRATOR],
        image: "/proyectos/p03.webp",
        type: "Behance",
        URL : "https://www.behance.net/gallery/228557407/Manual-de-identidad-Crianza-Consciente",
        Icon: TAGS.ARROW,
    },
    {
        title: "Branding | Gisela Farrel",
        pagina: 1,
        categoria: "diseño",
        description: "Identidad Visual para profesional de Marketing",
        tags: [TAGS.PHOTOSHOP, TAGS.ILLUSTRATOR],
        image: "/proyectos/p06.webp",
        type: "Behance",
        URL : "https://www.behance.net/gallery/230439487/MARCA-PERSONAL-Gisela-Farrel",
        Icon: TAGS.ARROW,
    },
    {
        title: "Logo tipográfico | Monograma ",
        pagina: 2,
        categoria: "diseño",
        description: "Desarrollo de logo tipográfico.",
        tags: [TAGS.PHOTOSHOP, TAGS.ILLUSTRATOR],
        image: "/proyectos/p04.webp",
        type: "Behance",
        URL : "https://www.behance.net/gallery/229887605/Monograma-Marca-Mariana-Duque",
        Icon: TAGS.ARROW,
    },
    {
        title: "Catálogo | Monograma ",
        pagina: 2,
        categoria: "diseño",
        description: "Catálogo desarrollado para Lion Fitness.",
        tags: [TAGS.PHOTOSHOP, TAGS.ILLUSTRATOR, TAGS.AID],
        image: "/proyectos/p07.webp",
        type: "Behance",
        URL : "https://www.behance.net/gallery/235829777/Catalogo-Interactivo-Gimnasio-PS-AI-ID",
        Icon: TAGS.ARROW,
    },
]

const proyectos = JSON.stringify(PROYECTOS);
---

<div x-data="{ pagina: 1 }" class="space-y-10">
  <!-- Botones de navegación -->
  <div class="flex justify-center gap-4 mb-6">
    <button
      @click="pagina = 1"
      :class="pagina === 1 ? 'bg-[#f3f3f3] text-black font-semibold' : 'bg-[#303030] text-white'"
      class="px-4 py-2 rounded-lg transition-colors"
    >
      Página 1
    </button>
    <button
      @click="pagina = 2"
      :class="pagina === 2 ? 'bg-[#f3f3f3] text-black font-semibold' : 'bg-[#303030] text-white'"
      class="px-4 py-2 rounded-lg transition-colors"
    >
      Página 2
    </button>
  </div>

  <!-- Proyectos -->
  <div class="grid grid-cols-2 max-lg:grid-cols-1 mt-10 gap-10 justify-items-center">

    {PROYECTOS.map(
      ({
        title,
        description,
        tags,
        image,
        URL,
        Icon,
        type,
        categoria,
        pagina,
      }) => (
        <div x-show={`pagina === ${pagina}`}>
          <div class="border-1 border-white bg-linear-to-br from-[#02090e] to-[#535353] shadow-2xl shadow-black rounded-2xl flex-col"> 

            <div class="grid grid-cols-1 gap-10 items-start">
              <div>
                <div class="space-y-5 p-6">
                  <div class="flex gap-x-2 mb-2">
                    <Layers class="size-5"></Layers>
                    <h3 class="max-md:text-sm text-sm font-medium text-[#757575]">Experiencia laboral</h3>
                  </div>

                  <div class="flex justify-between mb-2 items-center">
                    <h3 class="max-md:text-xl text-xl font-semibold mb-0">{title}</h3>
                    <div class="flex gap-3">
                      <span class="bg-[#232323] hover:bg-[#757575] transition duration-200 border w-8 h-8 border-amber-50 
                      text-white flex rounded-full text-sm justify-center">
                        <a href={URL} target="_blank" class="flex items-center">
                          {Icon === TAGS.ARROW && <Arrow class="size-5 hover:text-[#000] transition duration-200"/>}
                          
                        </a>
                      </span>
                    </div>
                  </div>
                  
                  <p class="text-sm">{description}</p>

                  <ul class="flex flex-wrap gap-4 mb-4">
                    {tags.map(({ name, class: tagClass, icon: TagIcon }) => (
                      <li class={tagClass}>
                        {TagIcon && <TagIcon class="size-4" />}
                        <span>{name}</span>
                      </li>
                    ))}
                  </ul>
                </div>

              <div class="pl-10 pr-0 pb-0">  
                <img class="origin-bottom-right hover:scale-104 duration-200 rounded-xl rounded-tr-none" src={image} alt={`Foto del proyecto ${title}`} />
              </div>  
              
              </div>
            </div>
          </div>
        </div>
      )
    )}
  </div>

  <h3 class="flex font-bebas items-center gap-x-2 text-3xl font-semibold mb-10 mt-10 justify-center text-center text-[#bababa]">
      EDICIÓN DE VIDEOS
  </h3>

  <CarruselSwiper></CarruselSwiper>
</div>